$font-color: #8E9DA5;

$font-color-light: #4C5866;
$default-red: #AA0808;
$dark-red: #610505;

$input-grey: #E2E5E9;
$accent-yellow: #F8C154;
$accent-green: #45BA96;

$background-color: #F4F4F4;
$background-color-light-grey: rgba(173, 186, 191, 0.4);
$background-color-grey: #ADBABF;
$background-color-darker: #37434D;
$background-color-darkest:#282F37;
//fonts
$system-font: Roboto,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$decorative-font: 'Abril Fatface',
$system-font;

$h1-size: 2.5rem;
$h2-size: 1.5rem;
$h4-size: 1.125rem;
$regular-size: 1rem;
$small-size: 0.875rem;

//spacing
$tiny: 0.5em;
$small: 1.8em;
$base: 2.5em;
$large: 4em;
$x-large: 5em;
$xx-large: 7em;

$max-width: 950px;;
// border- radius

$border-radius: 0.4em;

@mixin smallImg {
    height: 13em;
    width: 20em;
}

//logo
@mixin bigImg {
    height: 15em;
    width: 25em;
}


@mixin alignCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}