//SASS autocompile

@import './variables';
*{
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: $system-font;
    font-size: $regular-size;
    color: $font-color;
}

a {
    text-decoration: none;
}


.header {
   display: flex;
   justify-content:space-evenly;
    color: white;
    width: 100%;
    margin: 0 auto;
    max-width: $max-width;
    font-family: $decorative-font;
    background-color: $background-color-darkest;
    padding: $large;
    padding-left: $base;

    h1{  font-size: $h1-size;}
    h3{ font-size: $h2-size; }
   
    &_profile {
    width: $xx-large;
    height: $xx-large;
    border-radius: 50%;
    margin: 1em;
    margin-top: 0;
    }

}

.content { 
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
        @include alignCenter;
        flex-direction: column;
        background-color: $background-color-darker;
        padding: $tiny;

        

        img {
            @include bigImg;
            border-radius: $border-radius;
            margin: $tiny;
        }
        video{
            border-radius: $border-radius;
            @include bigImg;
            margin: $tiny;
        }
        p{ font-size: $regular-size;
            color: $font-color;
            margin: $tiny $small;
        }
        @media screen and (max-width: 410px) {
            img, video {
                @include smallImg;
            }
        }
        @media screen and (min-width: 650px) 
        { 
                flex-direction: row;
                    .second {
                        order: 2;
                        }
            }

        @media screen and (min-width: 700px) 
        { padding: $small;
            p { font-size: $h4-size;
            }
        
        }
   }

   
   .project {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
    background-color: $background-color-grey;
    padding: $small;
    @media screen and (min-width: 1650px) 
    { padding: $small;
        width: 80vw;
        max-width: $max-width;
        background-color: $background-color;
    }

}
#body{
    width: 100vw;
}
.project-header__font{
    margin: $base;
    color: $background-color-darkest;
}


  
.node {
    cursor: pointer;
  }
  
  .node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .node text {

    fill: $background-color-darkest;
  }
  
  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
  

.faq {
    display: flex;
    align-items: center;
   align-content: center;
   flex-direction: column;
   background-color: $background-color-light-grey;
   width: 100vw;
   max-width: $max-width;
   margin: 0 auto;

 button{
    @include button;
 }


    h5{  font-size: $h4-size;
        color: $background-color-darker; 
        margin-top: $small; 
    }
    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: $small;
    }
}

.faq-question {
   
    width: 100%;
    max-width: $max-width ;
    color: $background-color-darker;
   
   h6{ font-size: $small-size;
       color: $background-color-darker;
       margin: $tiny;
   }
   p{ font-size: $small-size; }
}

.faq-answer {
    display: none;
    margin: $small;
   
}

.contact {
    font-size: $h2-size;
    margin: $small auto;
    width: fit-content;
}

   #contact-form {
    display: flex;
    margin: 1em auto;
    padding: $small;
    flex-direction: column;
    width: fit-content;
   
    border: solid $background-color-darker 2px;
    
    border-radius: $border-radius; 
       
    button{ 
        margin: $small $tiny;
        @include button;

    }
    label{  margin: $tiny; 
        font-size: $h4-size;}
    input,textarea{
        font-family:$system-font; 
        border-radius:  $border-radius-small; 
        margin: 0 $tiny; 
      width: 40vw;
      max-width: 380px;
      font-size: $h4-size;
       
    }
    @media screen and (max-width: 650px) {
        input,textarea{
            width: 70vw; 
        }  
    }
   }


.footer {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    margin: 0 auto;
    max-width: $max-width;
    font-size: $regular-size;
    color: white;
    padding: $tiny;
    background-color: $background-color-darkest;
    a{
        text-decoration: none;
        color: white;
    }
}






