//SASS autocompile

@import './variables';
*{
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: $system-font;
    font-size: $regular-size;
    color: $font-color;
}

a {
    text-decoration: none;
}


.header {
   display: flex;
   justify-content:space-evenly;
    color: white;
    width: 100%;
    font-family: $decorative-font;
    background-color: $background-color-darkest;
    padding: $large;
    padding-left: $base;

    h1{  font-size: $h1-size;}
    h3{ font-size: $h2-size; }
   
    &_profile {
    width: $xx-large;
    height: $xx-large;
    border-radius: 50%;
    margin: 1em;
    margin-top: 0;
    }

}

.content { 
    width: 100%;
  max-width: 950px;
    @include alignCenter;
    flex-direction: column;

    @media screen and (min-width: 650px) {
        flex-direction: row;
        }
    background-color: $background-color-grey;
   padding: $tiny 0;
    img {
        @include bigImg;
        border-radius: $border-radius;
        margin: $tiny;
    }
    video{
        border-radius: $border-radius;
        @include bigImg;
        margin: $tiny;
    }
    p{ font-size: $regular-size;
        color: black;
        margin: $tiny $small;
    }
    @media screen and (min-width: 700px) {
       
        p{ font-size: $h4-size;
        }
        }
   }

   
   .project{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}
#body{
    width: 100vw;
}
.project-header__font{
    margin: $base;
    color: $background-color-darkest;
}


  
.node {
    cursor: pointer;
  }
  
  .node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .node text {

    fill: $background-color-darkest;
  }
  
  path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }
  



.faq {
    display: flex;
    align-items: center;
   align-content: center;
   flex-direction: column;
   width: 100vw;
   margin: $small auto;
    h5{  font-size: $h4-size;
        color: $background-color-grey; 
        margin-bottom: $tiny; 
    }
    &__container {
        display: flex;
    }
}

.faq__question {
    display: flex; 
    flex-direction: column;
    width: 30%;
    color: $background-color-darker;
    margin: $tiny;

   h6{ font-size: $small-size;
       color: $background-color-grey;
       margin: $tiny;
   }
   p{ font-size: $small-size; }
}

.faq-answer {
    display: none;
    
}

.

   #contact-form {
    display: flex;
    align-items: center;
    margin: 1em auto;
    flex-direction: column;
    width: fit-content;
    border: solid $background-color-darker 2px;
    
    border-radius: $border-radius; 
       
    button{ border-radius: $border-radius; 
        margin: $small;}
    label{  margin: $tiny; }
    input,textarea{
        font-family:$system-font; 
        border-radius: 0.2em; 
        margin: 0 $tiny; 
       
    }
   }


.footer {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    font-size: $regular-size;
    color: white;
    background-color: $background-color-darkest;
    a{
        text-decoration: none;
        color: white;
    }
}






