* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F4F4F4;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #8E9DA5;
}

a {
  text-decoration: none;
}

.header {
  border-left: black solid 2px;
  border-right: black solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  font-family: "Abril Fatface", Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #282F37;
  padding: 4em;
  padding-left: 2.5em;
}

.header h1 {
  font-size: 2.5rem;
}

.header h3 {
  font-size: 1.5rem;
}

.header_profile {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  margin: 1em;
  margin-top: 0;
}

.content {
  border-left: black solid 2px;
  border-right: black solid 2px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #37434D;
  padding: 0.5em;
}

.content img {
  height: auto;
  width: 45vw;
  max-width: 540px;
  max-height: 420px;
  border-radius: 0.4em;
  margin: 0.5em;
}

.content video {
  border-radius: 0.4em;
  height: auto;
  width: 45vw;
  max-width: 540px;
  max-height: 420px;
  margin: 0.5em;
}

.content p {
  font-size: 1.25rem;
  color: #8E9DA5;
  margin: 0.5em 1.8em;
}

@media screen and (max-width: 800px) {
  .content img,
  .content video {
    height: auto;
    width: 80vw;
  }
}

@media screen and (min-width: 800px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content .second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 700px) {
  .content {
    padding: 1.8em;
  }
  .content p {
    font-size: 1.25rem;
  }
}

.project {
  border-left: black solid 2px;
  border-right: black solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  padding: 1.8em;
}

@media screen and (min-width: 700px) {
  .project {
    padding: 1.8em;
    width: 80vw;
    max-width: 1200px;
    background-color: #F4F4F4;
  }
}

.software {
  border: #4C5866 solid 2px;
  padding: 2px;
  margin: 2px;
}

#body {
  width: 80vw;
  margin: auto;
}

@media screen and (max-width: 700px) {
  #body {
    display: none;
  }
}

.project-header {
  border-left: black solid 2px;
  border-right: black solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  width: 100vw;
  padding: 1.8em;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .project-header div {
    display: none;
  }
}

.project-header p {
  margin: 1.8em auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.project-header h3 {
  margin: 1.8em auto;
  font-size: 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #282F37;
}

.project-header__button {
  margin: 1.8em 0.5em;
  border: 1px solid #d1dcdf;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  background-color: #f2f5f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
  background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
  text-align: center;
  width: 15em;
}

.project-header__button:hover {
  border: 1px solid #b6c7cc;
  background-color: #d4dee1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
  background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}

.project-header a {
  text-decoration: underline;
  color: #282F37;
}

.mobile {
  border-left: black solid 2px;
  border-right: black solid 2px;
  display: none;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 700px) {
  .mobile {
    display: inline;
  }
}

.mobile .content-m {
  border-left: black solid 2px;
  border-right: black solid 2px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.5em;
}

.mobile .content-m img {
  height: auto;
  width: 35vw;
  border-radius: 0.4em;
  margin: 0.5em;
}

@media screen and (max-width: 800px) {
  .mobile .content-m img {
    height: auto;
    width: 80vw;
  }
}

.mobile .content-m video {
  border-radius: 0.4em;
  height: auto;
  width: 45vw;
  max-width: 540px;
  max-height: 420px;
  margin: 0.5em;
}

.mobile .content-m div {
  margin: 0.5em 1.8em;
  color: #4C5866;
  max-width: 455px;
}

.mobile .content-m div a {
  font-weight: bold;
  padding: 0.5em;
  color: #4C5866;
}

.mobile .content-m div a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.mobile .content-m div p {
  font-size: 1rem;
}

.mobile .content-m div h3 {
  font-size: 1.25rem;
  margin: 0.5em 0;
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  .mobile .content-m {
    padding: 1.8em;
  }
  .mobile .content-m p {
    font-size: 1.25rem;
  }
}

.node {
  cursor: pointer;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  fill: #282F37;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.faq {
  border-left: black solid 2px;
  border-right: black solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(173, 186, 191, 0.4);
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}

.faq button {
  border: 1px solid #d1dcdf;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  background-color: #f2f5f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
  background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

.faq button:hover {
  border: 1px solid #b6c7cc;
  background-color: #d4dee1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
  background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}

.faq h5 {
  font-size: 1.25rem;
  color: #37434D;
  margin-top: 1.8em;
}

.faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 1.8em;
}

.faq-question {
  width: 100%;
  max-width: 1200px;
  color: #37434D;
}

.faq-question h6 {
  font-size: 0.875rem;
  color: #37434D;
  margin: 0.5em;
}

.faq-question p {
  font-size: 0.875rem;
}

.faq-answer {
  display: none;
  margin: 1.8em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 650px) {
  .faq-answer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.faq-answer p {
  margin: 1.8em;
  font-size: 1.25rem;
}

.faq-answer img {
  height: auto;
  width: 45vw;
  max-width: 540px;
  max-height: 420px;
  border-radius: 0.4em;
}

@media screen and (max-width: 600px) {
  .faq-answer img {
    height: auto;
    width: 80vw;
  }
}

.contact_div {
  border-left: black solid 2px;
  border-right: black solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
}

.contact {
  font-size: 1.5rem;
  margin: 1.8em auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em auto;
  padding: 1.8em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: solid #37434D 2px;
  border-radius: 0.4em;
}

#contact-form button {
  margin: 1.8em 0.5em;
  border: 1px solid #d1dcdf;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  background-color: #f2f5f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f5f6), to(#c8d7dc));
  background-image: linear-gradient(to bottom, #f2f5f6, #c8d7dc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f5f6, endColorstr=#c8d7dc);
}

#contact-form button:hover {
  border: 1px solid #b6c7cc;
  background-color: #d4dee1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d4dee1), to(#a9c0c8));
  background-image: linear-gradient(to bottom, #d4dee1, #a9c0c8);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d4dee1, endColorstr=#a9c0c8);
}

#contact-form label {
  margin: 0.5em;
  font-size: 1.25rem;
}

#contact-form input,
#contact-form textarea {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border-radius: 0.2em;
  margin: 0 0.5em;
  width: 40vw;
  max-width: 380px;
  font-size: 1.25rem;
}

@media screen and (max-width: 650px) {
  #contact-form input,
  #contact-form textarea {
    width: 70vw;
  }
}

.footer {
  border-left: black solid 2px;
  border-right: black solid 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 1rem;
  color: white;
  padding: 1.8em;
  background-color: #282F37;
}

.footer p {
  padding: 0.5em;
}

.footer a {
  text-decoration: underline;
  color: white;
}
/*# sourceMappingURL=style.css.map */