

<section class="first">
<div class="content"><img src="./assets/FAC16.jpg"> <p>I am a energetic people orientated junior developer.I will soon graduate the Founders and Coders programme (FAC16). This programme reinforced my ideas about the ideal working environment for me, as part of a energetic group and an amount of autonomy. The scrumb approach was a joy to find. A high priority for me is good company culture. 
</p></div>

<div class="content"><p>Since moving to London, I've become a regular are many meet ups; CCS london, JS frontend and Code untapped. Mentoring at Codebar and at the FAC meetups, gave me a chance to listen and help others reason through frustrating problems. I taught the Github evening in the founders and coders short course. 
</p> <video autoplay controls src="./assets/FAC.mp4" type="video/mp4" ></video></div>
<div class="content">
    <video autoplay controls src="./assets/LLHSAdvert.mp4" type="video/mp4" ></video>
    <p>
Right now I am focusing on learning cyber security and secure coding practices in my own time and regularly attending London Ladies Hacking Society events and other events to facilitate this. 
</p>
</div>
</section>

{{> projects }}

{{> faq }}

{{> contact }}