<div class="content">
    <img src="./assets/FAC16.jpg">
    <p>I am an energetic people orientated junior developer. The scrum approach was a joy for me to find. A high
        priority for me is good company culture.
    </p>
</div>

<div class="content">
    <video autoplay controls src="./assets/FAC.mp4" type="video/mp4" class="second"></video>
    <p>Since moving to London, I've become a regular at meet ups including CCS London, JS frontend and Code untapped.
        Mentoring at Codebar and at the FAC meetups gave me a chance to listen and help others reason through
        challenging problems. I also enjoy teaching the Github evening in the founders and coders short course.
    </p>
</div>
<div class="content">
    <video autoplay controls src="./assets/LLHSAdvert.mp4" type="video/mp4" muted></video>
    <p>
        Right now I am focusing on learning cyber security and secure coding practices in my own time and regularly
        attending London Ladies Hacking Society events and other events to facilitate this.
    </p>
</div>



{{> projects }}


{{> faq }}

{{> contact }}



<script src="./d3.v3.min.js"></script>
<script src="./d3.js"></script>
<script src="./dom.js"></script>
