
{{!-- 
{{> hex }} --}}

<p>I am a energetic people orientated junior developer.I will soon graduate the Founders and Coders programme (FAC16). This programme reinforced my ideas about the ideal working environment for me, as part of a energetic group and an amount of autonomy. The scrumb approach was a joy to find. A high priority for me is good company culture. 

Since moving to London, I've become a regular are many meet ups; CCS london, JS frontend and Code untapped. Mentoring at Codebar and at the FAC meetups, gave me a chance to listen and help others reason through frustrating problems. I taught the Github evening in the founders and coders short course. 

Right now I am focusing on learning cyber security and secure coding practices in my own time and regularly attending London Ladies Hacking Society events and other events to facilitate this. 
</p>
<img src="./assets/FAC16.jpg">
<video autoplay controls src="./assets/FAC.mp4" type="video/mp4" ></video>
<video autoplay controls src="./assets/LLHSAdvert.mp4" type="video/mp4" ></video>

{{> faq }}

{{> contact }}