<div class="faq">
<h5>FAQs</h5>
<div class="faq-container">
<button class="faq-question"><h6>What is Founders and Coders?</h6></button>
<div class="faq-answer">
    <img src="./assets/fac.jpeg">
<p>Founders and Coders is not an ordinary 18 week coding bootcamp. Founders and Coders is a London-based nonprofit that develops and runs tuition-free, peer-led training programmes in web development, guided by values of cooperation, inclusion and social impact.</p>
</div>


<button class="faq-question"> <h6>What transferable skills do I have from my previous career? </h6>
</button>
<div class="faq-answer">
<p>It was a privilege to work as a doctor.  I learned a huge amount beyond the practice of medicine.  A packed Emergency Department hones your prioritisation skills. A cardiac arrest shows you how to be part of a team and how to work under pressure. Six years of medical school and your first year as a junior doctor teaches you empathy, time management, perseverance, humility and good humour. It was a privilege to be with people during the most vulnerable parts of people's lives.</p>
<img src="./assets/med.jpg">
</div>
<button class="faq-question"><h6>Why did I change career from being a doctor?</h6> </button>
<div class="faq-answer">
    <img src="./assets/career-change.jpg">
<p> 
Being a doctor was worthwhile and rewarding but didn't fill me as much as it drained me. There were the long hours, the lack of breaks and the pressure. The pressure to be perfect, to be the good doctor. The one who was never tired, never hungry, never in pain and never preoccupied. There was so much fighting.  Fight for people who often had no one. I don't have enough strength of that nature. Accepting this about myself was heartbreaking. I'm not superman and I'm starting to not want to be.
</p>
</div>  </div> </div>






</div>