<h5>FAQ; </h5>

<h6>What is Founders and Coders?</h6>

<p>Founders and Coders is not an ordinary coding 18 week bootcamp. Founders and Coders is a London-based nonprofit that develops and runs tuition-free, peer-led training programmes in web development, guided by values of cooperation, inclusion and social impact.
</p>

<h6>What transferable skills do I have from my previous career? </h6>

<p>It was a privilege to be a doctor. I learned a huge amount of more things than medicine. When you must tell people they are going to die, you to learn to communicate. A pack Emergency Department hones your prioritisation skills. A cardiac arrest shows you how to be part of a team. I am soft and that isn't a bad thing but soft for a doctor isn't actually that soft. It was a privilege to see into the most venerable parts of people's lives. It sometimes was a dream and some times a  nightmare but I am so grateful I got to experience both.
</p>

<h6>Why did I change career from being a doctor?</h6>

<p> 
Being a doctor was worthwhile and rewarding but didn't fill me as much as it drained me. There were the long hours, the lack of breaks and the pressure. The pressure to be perfect, to be the good doctor. The one who was never tired, never hungry, never in pain. and never preoccupied. There was so much fighting.  Fight for people who often had no one. I don't have enough strength of that nature. Accepting this about myself was heartbreaking. I'm not superman and I'm starting to not want to be.
</p>

