<footer class="footer"> <p>Kate O'Brien 2019</p> 
<p>Code for this site is avalible <a href="https://github.com/dubhcait/portfolio">here</a></p>
<div>Favicon from<a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">
photo3idea_studio</a> <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 </a></div>

</footer>