 <ul id="hexGrid">
      <li class="hex">
        <div class="hexIn">
          <a class="hexLink" href="#">
            <img src="#" alt="" />
            <h1>project</h1>
            <p>Forearm, 5RL and all my own design.</p>
          </a>
        </div>
      </li>
 </ul>