 <div id="body" class="project">
      <div class="project-header">
       <h3 class="project-header__font">Projects</h3>
        
      </div>
    </div>

    <div class="mobile">
       <div class="project-header content-m">
       <h3 class="project-header__font">Projects</h3>
        
      </div>
      <div class="content-m">
 <a href="https://smoothiebar.herokuapp.com/"><img src="https://i.imgur.com/xbUjZ5a.png"> </a>
   <div>
     <h3>Smoothie bar</h3>
     <p> A FAC week 8 project build over a day and a half, by a team of 4. <span class="software">PostgreSQL</span><span class="software">Express</span><span class="software">CSS variables</span><span class="software">Database Testing</span></p>
     <br></br> <a href="https://github.com/dubhcait/Smoothie-bar">Github repo</a>  <a href="https://smoothiebar.herokuapp.com/">website</a>
     </div>
   
   </div> 

    <div class="content-m">
 <a href="https://community-dish.herokuapp.com/"><img src="https://i.imgur.com/wjKlKEd.png"> </a>
   <div>
     <h3>Dish</h3>
     <p> A food sharing app to bring people together and reduce food wastage.A FAC student project build. <span class="software">PostgreSQL</span><span class="software">Express</span><span class="software">Sass</span><span class="software">Codecov</span><span class="software">Jest.js</span><span class="software">Database Testing</span></p>
    <br></br>   <a href="https://github.com/FAC-Sixteen/dish">Github repo</a> <a href="https://community-dish.herokuapp.com/">website</a>
     </div>
   
   </div> 

    <div class="content-m">
 <a href="https://github.com/FAC-Sixteen/RK-The-Long-Grass"><img src="https://i.imgur.com/shsS0Pg.png"> </a>
   <div>
     <h3>The Tall Grass</h3>
     <p>  Ready for a Poké Adventure? The long grass is waiting. This is a pokémon where you capture pokemon by clicking. <span class="software">React</span><span class="software">Jest Mocks</span></p>
   <br></br>   <a href="https://github.com/FAC-Sixteen/RK-The-Long-Grass">Github repo</a> <a href="https://the-long-grass.netlify.com/">website</a>
     </div>
   </div> 
   </div>
  