<div class="project-header">
  <h3>Projects</h3>
  <p>A list of my completed projects is avalible <a
      href="https://github.com/dubhcait/portfolio/blob/master/README.md">here</a>.</p>
  <div>
    <button class="project-header__button">
      Overview
    </button>
    <button class="project-header__button">
      Detailed description
    </button>
  </div>
</div>

<div id="body" class="project">

</div>

<div class="mobile">

  <div class="content-m">
    <a href="https://nova-foundation-app.herokuapp.com/" target="_blank"><img src="./assets/nova-phone.png"> </a>
    <div>
      <h3>Nova Foundation App</h3>
      <p> At the time of the project, this was a newly established organisation. Nova aims to help families that have
        experienced baby loss at any stage. In our project, we designed and developed an app with comfort and emotional
        support in mind. The app functions as a place to keep memories, learn about grief and trauma. We included
        breathing exercises and ways to track one's mood.
      </p>
      <br />
      <p>Role: Scrum master</p>
      <br />
      <p>Retrospective:</p>
      <p>Working in a team with two new remote developers made this role more challenging than usual. Communication
        required a lot of care and attention. Keep the all the development team as well as the product owner (PO) in
        sync was a challenge.
        A key element was creating a decision matrix. Our PO took charge of rating them in relation to user value and we
        rated features in regards to technical difficulty. This made everything very visual and was an excellent
        reference point for everyone. </p>
      <br />
      <p> <span class="software">React</span><span class="software">Express</span><span
          class="software">MongoDB</span><span class="software">Cloudinary API </span><span
          class="software">Jasmine.js</span></p>
      <br />
      <p>Code:<a href="https://github.com/dubhcait/Nova-Foundation" target="_blank">here</a></p>
      <p>Live version:<a href="https://nova-foundation-app.herokuapp.com/" target="_blank">here</a></p>
    </div>
  </div>

  <div class="content-m">
    <a href="https://fac16-lsx-action-planner.herokuapp.com/" target="_blank"><img src="./assets/lsx.jpg"> </a>
    <div>
      <h3>LSX - Action Planner App</h3>
      <p> A mobile-based app to help users create an action plan, to organise and facilitate change. This was designed
        with kids in mind as the main group that LSx is engaging with currently are school children.</p>
      <br />
      <p>Role: Scrum master</p>
      <br />
      <p>Retrospective:</p>
      <p>There is no perfect recipe when it comes to agile, figuring out a way that is best for your team and the given
        situation is the way to go. Don't make the process another job, make it work for you. Use stand-ups, backlogs
        and Github projects in a way that works for you, not against you.
        So when it comes to scrum 'Play your own game'. </p>
      <br />
      <p><span class="software">Express</span><span class="software">Airtable,</span><span class="software">
          React</span><span class="software">Jest.js</span></p>
      <br />
      <p>Code:<a href="https://github.com/dubhcait/LSx" target="_blank">here</a></p>
      <p>Live version:<a href="https://fac16-lsx-action-planner.herokuapp.com/" target="_blank">here</a></p>
    </div>

  </div>

  <div class="content-m">
    <a href="https://community-dish.herokuapp.com/" target="_blank"><img src="./assets/dish.jpg"> </a>
    <div>
      <h3>Dish</h3>
      <p> A food sharing app to bring people together and reduce food wastage. A FAC student project build. </p>
      <br />
      <p>Role: QA</p>
      <br />
      <p>Retrospective:</p>
      <p>Making clean code, writing code that is maintainable and easy to understand is not something that just happens,
        it needs love. Larger projects can become disjointed with different peoples styles. One key aide is agreeing on
        meaningful naming conventions. </p>
      <br />
      <p>Testing:</p>
      <p>Async testing in Jest was difficult; when introducing the database it changed our routes from rendering static
        pages to include async data. This broke all our route tests. We changed the route tests to include async build
        script before each test, and an "afterAll" script which would close the database connection before finishing the
        test run. We repeated this technique for our database tests.
      </p>
      <br />
      <p><span class="software">PostgreSQL</span><span class="software">Express</span><span class="software">Sass</span>
        <br />
        <br />
        <span class="software">Codecov</span><span class="software">Jest.js</span></p>

      <br />
      <p>Code:<a href="https://github.com/FAC-Sixteen/dish" target="_blank">here</a></p>
      <p>Live version:<a href="https://community-dish.herokuapp.com/" target="_blank">here</a></p>
    </div>
  </div>

</div>