<div id="body" class="project">
  <div class="project-header">
    <h3 class="project-header__font">Projects</h3>
    <p>A list of my completed projects is avalible <a href="https://github.com/dubhcait/portfolio/blob/master/README.md">here</a>.</p>
  </div>
</div>

<div class="mobile">
  <div class="project-header content-m">
    <h3 class="project-header__font">Projects</h3>
  <p>A list of my completed projects is avalible <a href="https://github.com/dubhcait/portfolio/blob/master/README.md">here</a>.</p>
 
  </div>
  <div class="content-m">
    <a href="https://smoothiebar.herokuapp.com/"><img src="https://i.imgur.com/xbUjZ5a.png"> </a>
    <div>
      <h3>Smoothie bar</h3>
      <p> A FAC week 8 project build over a day and a half, by a team of 4.</p>
      <br />
      <p><span class="software">PostgreSQL</span><span class="software">Express</span><span class="software">CSS
          variables</span><span class="software">Database Testing</span></p>
      <br />
      <p>Code:<a href="https://github.com/dubhcait/Smoothie-bar">here</a></p>
      <p>Live version:<a href="https://smoothiebar.herokuapp.com/">here</a></p>
    </div>

  </div>

  <div class="content-m">
    <a href="https://community-dish.herokuapp.com/"><img src="https://i.imgur.com/wjKlKEd.png"> </a>
    <div>
      <h3>Dish</h3>
      <p> A food sharing app to bring people together and reduce food wastage.A FAC student project build. </p>
      <br />
      <p><span class="software">PostgreSQL</span><span class="software">Express</span><span
          class="software">Sass</span><span class="software">Codecov</span><span class="software">Jest.js</span></p>

      <br />
      <p>Code:<a href="https://github.com/FAC-Sixteen/dish">here</a></p>
      <p>Live version:<a href="https://community-dish.herokuapp.com/">here</a></p>
    </div>

  </div>

  <div class="content-m">
    <a href="https://github.com/FAC-Sixteen/RK-The-Long-Grass"><img src="https://i.imgur.com/shsS0Pg.png"> </a>
    <div>
      <h3>The Long Grass</h3>
      <p> Ready for a Poké Adventure? The long grass is waiting. This is a game where you capture pokémon by clicking.
      </p>
      <br />
      <p> <span class="software">React</span><span class="software">Jest Mocks</span></p>
      <br />
      <p>Code:<a href="https://github.com/FAC-Sixteen/RK-The-Long-Grass">here</a></p>
      <p>Live version:<a href="https://the-long-grass.netlify.com/">here</a></p>
    </div>
  </div>

</div>