 <div id="body" class="project">
      <div class="project-header">
       <h3 class="project-header__font">Projects</h3>
        
      </div>
    </div>

    <div class="mobile">
       <div class="project-header content-m">
       <h3 class="project-header__font">Projects</h3>
        
      </div>
      <div class="content-m">
 <a href="https://smoothiebar.herokuapp.com/"><img src="https://i.imgur.com/xbUjZ5a.png"> </a>
   <div>
     <h3>Smoothie bar</h3>
     <p> A FAC week 8 project build over a day and a half, by a team of 4. Software: PostgreSQL, Express, CSS variables, Database Testing</p>
     <br></br> <a href="https://github.com/dubhcait/Smoothie-bar">Github repo</a>  <a href="https://smoothiebar.herokuapp.com/">website</a>
     </div>
   
   </div> 
    <div class="content-m">
 <a href="https://community-dish.herokuapp.com/"><img src="https://i.imgur.com/wjKlKEd.png"> </a>
   <div>
     <h3>Smoothie bar</h3>
     <p> A food sharing app to bring people together and reduce food wastage.A FAC student project build.  Software: PostgreSQL, Express, Sass, Codecov Jest.js Database Testing</p>
    <br></br>   <a href="https://github.com/FAC-Sixteen/dish">Github repo</a> <a href="https://community-dish.herokuapp.com/">website</a>
     </div>
   
   </div> 
    <div class="content-m">
 <a href="https://calm-fjord-11755.herokuapp.com/"><img src="https://i.imgur.com/1Z4ayCE.png"> </a>
   <div>
     <h3>NewsRUs</h3>
     <p>  NewsRUs is a website that enables users to quickly search the guardian website and return a filtered list of Guardian news articles.</p>
    <br></br>  <a href="https://github.com/dubhcait/Week5-purple-sloths">Github repo</a>   <a href="https://calm-fjord-11755.herokuapp.com/">website</a>
     </div>
   
   </div> 
    </div>