<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>

    {{> header }}
   
   

    {{{ body }}}
<script src="./d3.v3.min.js"></script>.
<script src="./d3.js"></script>

    {{> footer }}


</body>
</html>