<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
</head>
<body>

    {{> header }}
   
    <div id="body">
      <div id="header">
        This is a test
          <hr/>
      </div>
    </div>

    {{{ body }}}


    {{> footer }}

<script src="./d3.v3.min.js"></script>.
<script src="./d3.js"></script>
</body>
</html>